<!DOCTYPE html>
<html>
<head>
    
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA5SgImkG7s6DWjPkEZngQG5RMpNcaVzM3hioDy3vJIO-cs8Vcikzh4ls8uwI2GERDjd8&usqp=CAU"/>
    <title>Music recommendations</title>
    <link href={{url_for('static',filename='style.css')}} rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</head>
<body>
<div class="music">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA5SgImkG7s6DWjPkEZngQG5RMpNcaVzM3hioDy3vJIO-cs8Vcikzh4ls8uwI2GERDjd8&usqp=CAU" rel="music image"/>
</div>
<div class="para">
<p>Music Recommendations</p>
</div>
<form action="#" method='POST'>
    <input type='text' placeholder='Song name for recommendations' name='song' required><ion-icon name="search-outline" style="transform: translate(-40px, 4px); cursor: pointer;"></ion-icon>
    <button type ='submit'>submit</button>
    

</form>
</body>
</html> 